/*GLOBAL*/

body{
	border-top: 5px solid #e56038;
	background: #ebe8de;
	font-family: 'Open Sans', sans-serif;
	color: #333333;
}

a{
	text-decoration: none;
	color: inherit;
}

p{
	margin: 5px 0;
	line-height: 25px;
}

input{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	outline: none;
	padding: 7px;
	border: none;
	width: 250px;
	background: #ebe8de;
	border-radius: 5px;
}

input[type=submit], .button{
	width: auto;
	padding: 5px 18px;
	line-height: 25px;
	text-shadow: none;
	cursor: pointer;
	box-shadow: none;
	background-color: #333;
	color: #fff;
}

.clear{
	clear: both;
}

/*HEADER*/

header{
	position: relative;
	width: auto;
	max-width: 900px;
	margin: 0 auto 20px auto;
}

header h1{
	font-family: 'Baumans';
	font-size: 55px;
	margin: 35px 0 0 0;
	color: #e56038;
}

header p{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #4a463b;
	margin: 0 0 0 5px;
}

/*NAVIGATION BAR*/
#nav, label{
	display: none;
}

nav{
	position: absolute;
	margin: 50px 20px;
	top: 0;
	right: 0;
}

nav > ul > li{
	text-align: center;
	line-height: 40px;
	margin-left: 70px;
	float: left;
}

nav > ul > li > a{
	text-decoration: none;
	display: block;
	cursor: pointer;
	outline: none;
	width: 100%;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}

nav > ul > li:hover > a{
	color: #777;
}

/*SLIDESHOW*/

.container{
	width: auto;
	margin: 0 auto;
	position: relative;
}

#slider_content{
	line-height: 25px;
	font-family: 'Open Sans', sans-serif;
	opacity: 0.6;
	width: 350px;
	position: absolute;
	top: 15%;
	left: 15%;
	z-index: 11;
}

#slider_content h3{
	color: #ebe8de;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 10px;
	background-color: #333;
	padding: 10px 15px;
	border-radius: 15px 0 15px 0;
	display: inline-block;
}

#slider_content{
	display: block;
}

#slider_content p{
	margin: 0 0 30px 0;
	color: #4a463b;
	background-color: #ebe8de;
	padding: 10px 15px;
	border-radius: 5px;
}

div#slider{
	overflow: hidden;
	height: 400px;
}

div#slider figure{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 30s sldi infinite;
}

div#slider figure img{
	width: 20%;
	float: left;
}

@keyframes sldi{
	0% { left: 0%;    }
	20%{ left: 0%;    }
	25%{ left: -100%; }
	45%{ left: -100%; }
	50%{ left: -200%; }
	70%{ left: -200%; }
	75%{ left: -300%; }
	95%{ left: -300%; }
	100%{ left: -400%; }
}

/*SPACER*/

#spacer{
	width: auto;
	height: 70px;
	background-color: #e56038;
	position: relative;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
}

#spacer p{
	margin-top: 22px;
	width: auto;
	position: absolute;
	left: 50%;
	margin-left: -450px;
}

#spacer .search{
	margin-top: 15px;
	width: auto;
	position: absolute;
	right: 50%;
	margin-right: -480px;
}

/*3 COLUMNS*/

#three_columns{
	max-width: 900px;
	width: auto;
	margin: 0 auto;
	padding: 70px 0 45px 0;
}

#three_columns article{
	width: 250px;
	float: left;
	margin-right: 45px;
	font-size: 14px;
}

#three_columns article h3{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	margin-bottom: 10px;
	margin-left: 75px;
}

#three_columns article img{
	float: left;
}

#three_columns article p{
	line-height: 25px;
	margin-left: 75px;
	font-size: 'Open Sans', sans-serif;
}

/*4 COLUMNS*/

figcaption{
	line-height: 25px;
	font-size: 14px;
	width: 200px;
}

figcaption strong{
	border-bottom: 1px solid #d6d0c1;
	padding-bottom: 10px;
	margin: 10px 0;
	display: block;
}

#four_columns{
	line-height: 25px;
	font-family: 'Open Sans', sans-serif;
	clear: both;
	width: auto;
	max-width: 900px;
	margin: 0 auto;
}

#four_columns h2{
	font-size: 20px;
	border-bottom: 1px solid #d6d0c1;
	padding: 20px 0;
	margin-bottom: 20px;
}

#four_columns .img-item{
	float: left;
	margin-right: 25px;
}

#four_columns .img-item a{
	position: relative;
	display: block;
}

#four_columns .img-item a img{
	width: 200px;
	height: 130px;
}

.zoomin{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 130px;
	background: #000 url("../img/zoomin.png") center center no-repeat;
	opacity: 0;
}
.zoomin:hover{
	opacity: 0.5;
}

/*Lightbox*/

.lightbox{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img{
	max-width: 90%;
	max-height: 60%;
	margin-top: 5%;
}

.lightbox:target{
	display: block;
}

/*Multiple Columns*/

#multiple_columns{
	line-height: 25px;
	font-family: 'Open Sans', sans-serif;
	clear: both;
	width: auto;
	max-width: 900px;
	margin: 0 auto;
}

#multiple_columns h3{
	font-size: 20px;
	border-bottom: 1px solid #d6d0c1;
	padding: 20px 0;
	margin-bottom: 20px;
}

#multiple_columns .column1, #multiple_columns .column2{
	font-size: 14px;
	float: left;
	width: auto;
	max-width: 450px;
}

#multiple_columns .column1{
	margin: 70px 0;
}

#multiple_columns .column2{
	margin: 120px 0;
}

.row{
	position: relative;
	margin: 40px 0 0 50px;
	float: right;
	width: 350px;
}

.row img{
	float: left;
}

.row p{
	margin-left: 100px;
}

.rocket, .clock{
	width: 80px;
	height: 80px;
}

.rocket:hover{
  animation: blodoff ease 0.7s;
  animation-iteration-count: infinite;
}

@keyframes blodoff{
  0% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
  100% {
    opacity:0.4;
    transform:  translate(244px,-198px)  ;
  }
}

.clock:hover{
  animation: ring linear 0.1s;
  animation-iteration-count: infinite;
}

@keyframes ring{
  0% {
    transform:  translate(0px,0px)  ;
  }
  100% {
    transform:  translate(10px,0px)  ;
  }
}

/*FOOTER*/

footer{
	position: relative;
	clear: both;
	width: auto;
	height: 350px;
	background: #333;
}

#extra_content{
	width: auto;
	margin: 0 auto;
	padding-top: 30px;
	line-height: 25px;
	max-width: 900px;
	font-size: 14px;
}

#extra_content .column{
	float: left;
	font-family: 'Open Sans', sans-serif;
	color: #ababab;
	width: 280px;
	margin-right: 20px;
}

#extra_content .column h4{
	font-size: 16px;
	color: #fff;
	border-bottom: 1px solid #444;
	padding: 0 0 10px 0;
	margin-bottom: 10px;
}

#extra_content .column.midlist ul li{
	display: block;
	width: auto;
	padding: 0 0 10px 25px;
	margin-bottom: 10px;
	border-bottom: 1px solid #444;
	background: url(../img/arrowlist.png) left 6px no-repeat;
}

#extra_content .column.rightlist ul li a:hover{
	color: #fff;
}

#extra_content .column.rightlist ul li{
	display: block;
	width: auto;
	margin-bottom: 15px;
}

#extra_content .column.rightlist ul li a span{
	margin-left: 95px;
	display: block;
}

#extra_content .column.rightlist ul li a img{
	float: left;
	border: 3px solid #444;
	width: 80px;
	height: 50px;
}

#extra_content .column.rightlist ul li a img:hover{
	border-color: #5e5e5e;
}

#page_owner_info{
	background: #1d1d1d;
	width: 100%;
	height: 70px;
	position: absolute;
	bottom: 0;
	left: 0;
}

#page_owner_info .wrapper{
	font-family: 'Open Sans', sans-serif;
	line-height: 25px;
	margin: 0 auto;
	width: auto;
	max-width: 900px;
	font-size: 14px;
	padding-top: 25px;
	color: #5e5e5e;
	position: relative;
}

#page_owner_info .wrapper .copyright{
	float: left;
}

#page_owner_info .wrapper .copyright a{
	color: #ababab;
}

#page_owner_info .wrapper .copyright a:hover{
	color: #fff;
}

#page_owner_info .wrapper .social{
	position: absolute;
	top: 25px;
	right: 0;
}

#page_owner_info .wrapper .social a{
	opacity: 0.3;
	margin-left: 12px;
	display: block;
	float: left;
}

#page_owner_info .wrapper .social a:hover{
	opacity: 1;
}

#backTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 9999; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #444; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    opacity: 0.6;
    border: 100%;
}

#backTop:hover {
    opacity: 1;
}

/*REPONSIVE*/

@media only screen and (max-width: 1200px){
	#slider_content{
		width: auto;
		margin-right: 50px;
	}

	#slider_content h2{
		font-size: 18px;
	}

	#slider_content p{
		font-size: 14px;
	}

	#slider_content p .reponsive-button{
		display: inline;
	}
}

@media only screen and (max-width: 992px){
	header h1{
		margin-left: 10px;
		font-size: 35px;
	}

	header p{
		margin-left: 20px;
	}

	#three_columns article{
		float: none;
		margin: 30px auto 0 auto;
		width: 60%;
	}

	#spacer{
		font-size: 15px;
	}

	#spacer .search{
		margin-top: 19px;
		margin-right: -385px;
	}

	#spacer p{
		margin-left: -370px;
	}

	input{
		padding: 4px;
		font-size: 14px;
	}

	input[type="submit"]{
		padding: 1px 14px;
	}

	#four_columns{
		width: 500px;
	}

	#four_columns .img-item{
		margin-right: 50px;
	}

	#four_columns .img-item:nth-of-type(3), #four_columns .img-item:nth-of-type(4){
		margin-top: 25px;
	}

	#multiple_columns .column1, #multiple_columns .column2{
		float: none;
		max-width: 500px;
		margin: 50px auto 0 auto;
	}

	.column2 .row{
		float: none;
		margin: 0  0 40px 0;
	}

	.column2 .row p{
		width: 100%;
		padding-top: 10px;
	}

	#extra_content .column{
		margin: 0 20px 15px 0;
	}
}

@media only screen and (max-width: 768px){
	.container{
		height: 1px;
		display: none;
	}

	header{
		height: 120px;
	}

	header h1{
		margin-left: 10px;
		font-size: 35px;
	}

	header p{
		margin-left: 20px;
	}

	nav > ul > li{
		margin-left: 30px;
	}

	#spacer{
		height: 100px;
	}

	#spacer p{
		text-align: center;
		position: static;
		padding: 15px 0 7px 0;
		margin: 0 auto;
		font-size: 13px;
	}

	#spacer .search{
		text-align: center;
		position: static;
		margin: 0 auto;
	}

	footer{
		height: auto;
		padding-bottom: 70px;
	}

	#extra_content{
		width: 350px;
		margin: 0 auto;
	}

	#extra_content .column{
		margin-top: 30px;
		float: none;
		font-size: 14px;
		width: 100%;
		margin-right: 10px;
	}

	#extra_content .social{
		display: none;
	}

	#page_owner_info .wrapper .copyright{
		margin-left: 10px;
	}

	#page_owner_info .wrapper .social{
		right: 10px;
	}
}

@media only screen and (max-width: 480px){
	header{
		margin-top: 80px;
		height: 100px;
		text-align: center;
	}

	input{
		width: auto;
	}

	header h1{
		font-size: 35px;
	}

	header p{
		font-size: 16px;
		margin: auto;
	}

	#spacer{
		height: auto;
		padding-bottom: 15px;
	}

	#spacer p{
		text-align: center;
		position: static;
		padding: 15px 0 7px 0;
		margin: 0 auto;
		font-size: 13px;
	}

	#three_columns article{
		float: none;
		width: 300px;
	}

	#four_columns{
		width: auto;
	}

	#four_columns .img-item{
		width: 200px;
		float: none;
		margin: 25px auto 0 auto;
	}

	#four_columns h2{
		margin: 0 30px;
	}

	.column2 .row{
		width: auto;
		margin: 0  0 40px 0;
	}

	.column2 .row p{
		width: auto;
	}

	#multiple_columns .column1, #multiple_columns .column2{
		padding: 0 20px;
	}

	#extra_content{
		width: auto;
	}

	#extra_content .column{
		max-width: 300px;
		margin: 0 auto 15px auto;
	}

	#page_owner_info .wrapper{
		padding-top: 15px;
	}

	#page_owner_info .wrapper .copyright{
		display: block;
		text-align: center;
		width: 100%;
		margin-left: 0%;
	}

	#page_owner_info .wrapper .social{
		display: none;
	}

	nav ul{
		display: none;
	}
	input[type="checkbox"]{
		display: none;
	}

	label{
		position: absolute;
		cursor: pointer;
		display: block;
		width: 40px;
		height: 40px;
		right: 10px;
		top: 10px;
	}

	label:after{
		content: '';
		display: block;
		width: 30px;
		height: 5px;
		background: #eda2bc;
		margin: 7px 5px;
		box-shadow: 0px 10px 0 #eda2bc, 0px 20px 0 #eda2bc;
		outline: none;
	}

	#nav:checked ~ ul{
		display: block;
		z-index: 9998;
		position: absolute;
		right: 15px;
		top: 45px;
		width: 120px;
	}

	nav{
		margin: 0;
	}

	nav a{
		color: #fff;
	}

	nav ul li{
		display: block;
		float: none;
		width: 100%;
		text-align: left;
		background: #e56038;
		text-indent: 20px;
	}

	nav > ul > li{
		margin-left: 0px;
	}

	nav> ul li ul li{
		display: block;
		float: none;
	}

	nav > ul li ul{
		display: block;
		position: relative;
		width: 100%;
		z-index: 9998;
		float: none;
	}
}

@media only screen and (max-width: 320px){
	
}

